# REQUIRED CONFIG
BOT_TOKEN = "5463567018:AAGVzwE56rNi2n-kqaWShJiLH5lb7BhLWGE"
GDRIVE_FOLDER_ID = "0AIVT-PRJFMkgUk9PVA"
OWNER_ID = 861994192
DOWNLOAD_DIR = "/usr/src/app/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 10
AUTO_DELETE_MESSAGE_DURATION = 20
AUTO_DELETE_UPLOAD_MESSAGE_DURATION = -1
IS_TEAM_DRIVE = "True"
TELEGRAM_API = 9020953
TELEGRAM_HASH = "84d67d8e2c643485ed9c3de2f8d193b8"
# OPTIONAL CONFIG
DATABASE_URL = ""
AUTHORIZED_CHATS = "-1001686623102"
SUDO_USERS = ""
IGNORE_PENDING_REQUESTS = ""
USE_SERVICE_ACCOUNTS = "True"
INDEX_URL = "https://drive.tva-archives.workers.dev"
STATUS_LIMIT = "5"
STOP_DUPLICATE = "True"
CMD_INDEX = ""
UPTOBOX_TOKEN = "c4abf81f71934caae22c5b21e366e7ff98vsr"
TORRENT_TIMEOUT = ""
EXTENTION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = ""
# Update
UPSTREAM_REPO = ""
UPSTREAM_BRANCH = ""
# Mirror
MIRROR_LOGS = ""
# Leech
BOT_PM = ""
LEECH_LOG = ""
TG_SPLIT_SIZE = ""
AS_DOCUMENT = ""
EQUAL_SPLITS = ""
CUSTOM_FILENAME = ""
#Telegraph ui
TITLE_NAME = "TVA ARCHIVES"
AUTHOR_NAME = "T.V.A"
AUTHOR_URL = ""
GD_INFO = "TVA ARCHIVES"
# qBittorrent
BASE_URL_OF_BOT = "https://ms-minutes.herokuapp.com"
SERVER_PORT = ""
WEB_PINCODE = ""
# RSS
RSS_DELAY = ""
RSS_COMMAND = ""
RSS_CHAT_ID = ""
USER_SESSION_STRING = ""
# Private Files
ACCOUNTS_ZIP_URL = "https://drive.google.com/uc?export=download&id=1i7ZZsaQo_3ddvHecxhkty0-XT9z_CtbI"
TOKEN_PICKLE_URL = "https://drive.google.com/uc?export=download&id=1wWW2uqxkZF7ijRbTwYTaXhMsj5UsiQx-"
MULTI_SEARCH_URL = ""
YT_COOKIES_URL = ""
NETRC_URL = ""
# Heroku
HEROKU_API_KEY = "6a4cdf68-b3f9-48b8-a3fe-2c3c33aa2dcc"
HEROKU_APP_NAME = "ms-minutes"
# Mega
MEGA_API_KEY = "aswj1DoA"
MEGA_EMAIL_ID = "starlordd2910@gmail.com"
MEGA_PASSWORD = "Taylorswift29"
# GDTOT COOKIE
CRYPT = "ZnRxOE1Ib0NpMXNRNmZabS9VWU1IWGtkSi9kSHJPWnpQUFMwMkFWTmpmND0%3D"
# Appdrive
APPDRIVE_EMAIL = ""
APPDRIVE_PASS = ""
# Size Limits
TORRENT_DIRECT_LIMIT = ""
ZIP_UNZIP_LIMIT = ""
CLONE_LIMIT = ""
MEGA_LIMIT = ""
STORAGE_THRESHOLD = ""
# Buttons
VIEW_LINK = "True"
SOURCE_LINK = "True"
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
BUTTON_SIX_NAME = ""
BUTTON_SIX_URL = ""
# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = ""
#bot commands
#Mirror Related Commands
START_COMMAND = ""    #Default is "start"
MIRROR_COMMAND = ""     #Default is "mirror"
ZIP_COMMAND = ""        #Default is "zipmirror"
UNZIP_COMMAND = ""      #Default is "unzipmirror"
CANCEL_COMMAND = ""     #Default is "cancel"
LIST_COMMAND = ""       #Default is "list"
SEARCH_COMMAND = ""     #Default is "search"
STATUS_COMMAND = ""     #Default is "status"
STATS_COMMAND = ""      #Default is "stats"
HELP_COMMAND = ""       #Default is "help"
CLONE_COMMAND = ""      #Default is "clone"
COUNT_COMMAND = ""      #Default is "count"
WATCH_COMMAND = ""      #Default is "watch"
ZIPWATCH_COMMAND = ""   #Default is "zipwatch"
QBMIRROR_COMMAND = ""   #Default is "qbmirror"
QBZIP_COMMAND = ""      #Default is "qbzipmirror"
QBUNZIP_COMMAND = ""    #Default is "qbunzipmirror"

#Leech Related Commands
LEECH_COMMAND = ""      #Default is "leech"
LEECHSET_COMMAND = ""   #Default is "leechset"
SETTHUMB_COMMAND = ""   #Default is "setthumb"
UNZIPLEECH_COMMAND = "" #Default is "unzipleech"
ZIPLEECH_COMMAND = ""   #Default is "zipleech"
QBLEECH_COMMAND = ""    #Default is "qbleech"
QBUNZIPLEECH_COMMAND = "" #Default is "qbunzipleech"
QBZIPLEECH_COMMAND = ""    #Default is "qbzipleech"
LEECHWATCH_COMMAND = ""    #Default is "leechwatch"
LEECHZIPWATCH_COMMAND = "" #Default is "leechzipwatch"

#SUDO Commands
AUTH_COMMAND = ""       #Default is "authorize"
UNAUTH_COMMAND = ""     #Default is "unauthorize"
ADDSUDO_COMMAND = ""    #Default is "addsudo"
RMSUDO_COMMAND = ""     #Default is "rmsudo"
RESTART_COMMAND = ""    #Default is "restart"
SPEED_COMMAND = ""      #Default is "speedtest"
USERS_COMMAND = ""      #Default is "users"
CANCEL_ALL_COMMAND = "" #Default is  "cancelall
LOG_COMMAND = ""        #Default is "log"
DELETE_COMMAND = ""     #Default is "del"
RSSLIST_COMMAND = ""
RSSGET_COMMAND = ""
RSSSUB_COMMAND = ""
RSSUNSUB_COMMAND = ""
RSSSET_COMMAND = ""
ADDLEECHLOG_COMMAND = ""
RMLEECHLOG_COMMAND = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/rarbg.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/legittorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/zooqle.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'
